h2 {
	color: #3a89ff;
	font-weight: 800;
}

table {
	width: 100%;
	text-align: center;
}

table th {
	text-align: center;
	background: #3a89ff;
	color: #fff;
	line-height: 2em;
	font-size: 1em;
	background: #3a89ff;
}

table .num, table .view, table .select {
	width: 5%;
}

table .subject {
	width: 60%;
}

table .title {
	padding-left: 15px;
	text-align: left;
}

.sub {
	cursor: pointer;
	text-align: left;
	padding-left: 15px;
}

.pages {
	width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.table-responsive {
	border: none !important;
}

/* 글쓰기 */
.post td {
	text-align: left;
	background: #fff;
	border: solid 1px rgb(226, 226, 226);
	height: 30px;
	padding-left: 5px !important;
}

.post input, .post textarea {
	width: 100%;
	border:none;
	margin-right: 5px;
}

.post .buttons {
	padding-left: 0px !important;
	border: none !important;
}

table input:focus, table textarea:focus {
	outline: none;
}

.post table,
.rev_board table {
	border-collapse: separate;
	border-spacing: 2px;
}


.files {
	padding-left: 0 !important;
	border: solid 1px rgb(226, 226, 226);
	height: 30px;
}

.file {
	width: 30% !important;
	display: inline !important;
	height: 25px !important;
	border-style: none !important;
}

table textarea {
	height: 150px !important;
}

.adminpost {
	border-collapse: collapse;
	width: 820px;
}

.adminpost td {
	text-align: left;
	height: 50px;
	border-bottom: rgb(226, 226, 226) solid 2px;
}

.adminpost .last {
	border-bottom: none;
}

.adminpost input {
	width: 150px;
}

.adminpost select {
	width: 80px;
	height: 30px;
}

.rev_management {
	margin-top: 10px;
}

.rev_management th, .rev_management td {
	line-height: 2em;
	text-align: center;
	vertical-align: middle;
}

.sub_menu ul {
	margin-top: 10px;
}

.sub_title {
	margin-top: 5px;
	font-weight: 700;
	color: #3a89ff;
}

.rev_board {
	margin-top: 10px;
	padding-left: 0px;
}

.rev_board td {
	line-height: 2em;
	background: rgb(236, 236, 236);
}

.blank {
	background: none !important;
}

.lmargin {
	margin-left: 5px;
}

.checkbutton {
	height: 40px !important;
	line-height: 3em;
	width: 150px !important;
	float: none;
}

#search form {
	display: flex;
	align-items: center;
	justify-content: center;
}

#search .searchbox, #search .category {
	border: solid 1px rgb(226, 226, 226);
	width: 150px;
	height: 2em;
	margin-right: 5px;
}

#search .button-custom {
	line-height: 2em;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	background-color: #3a89ff;
	border-color: #3a89ff;
}

.pagination>li>a {
	color: #3a89ff;
}